div.wrapper > div.privacy {
    width: 97.5%;
    margin: 40px 20px;
    text-align: center;
    border-top: 1px solid rgb(194, 185, 185);
  }
  div.wrapper > div.privacy > p:nth-of-type(2) {
    color: gray;
    display: inline-block;
    vertical-align: top;
    padding: 20px 10px;
    margin-top: 5px;
    font-size: 14px;
  }
  div.wrapper > div.privacy > p:nth-of-type(1) {
    font-weight: 600;
    display: inline-block;
    vertical-align: top;
    padding: 20px 10px;
    font-size: 20px;
  }
  div.wrapper > div.privacy > span {
    color: black;
    display: inline-block;
    vertical-align: top;
    margin-top: 26px;
    font-size: 14px;
    border-bottom: 2px solid black;
    cursor: pointer;
  }
  div.wrapper > footer > div.footer1 {
    width: 97.5%;
    height: 600px;
    margin-left: 20px;
    border-top: 1px solid rgb(194, 185, 185);
    border-bottom: 1px solid rgb(194, 185, 185);
    position: relative;
    top: -42px;
  }
  div.wrapper > footer > div.footer1 > div.Shop,
  div.wrapper > footer > div.footer1 > div.Support {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    height: inherit;
    width: 24%;
    border-right: 1px solid rgb(194, 185, 185);
  }
  div.wrapper > footer > div.footer1 > div.Shop > ul {
    padding: 10px 0px;
  }
  div.wrapper > footer > div.footer1 > div.Shop > ul > li:nth-of-type(1) {
    font-weight: 600;
    font-size: 17px;
    color: black;
  }
  div.wrapper > footer > div.footer1 > div.Shop > ul > li {
    padding: 8px 10px;
    font-size: 13px;
  }
  div.wrapper > footer > div.footer1 > div.Shop > ul > li > a {
    color: gray;
  }
  div.wrapper > footer > div.footer1 > div.Shop > ul > li > a >i{
    color: gray;
    padding: 0px 10px;
    font-size: 13px;
  }
  div.wrapper > footer > div.footer1 > div.Support > ul > li > a >i{
    color: gray;
    padding: 0px 10px;
    font-size: 13px;
  }
  div.wrapper > footer > div.footer1 > div.aboutUs > ul > li > a >i{
    color: gray;
    padding: 0px 10px;
    font-size: 13px;
  }
  div.wrapper > footer > div.footer1 > div.Shop > ul > li > a:hover {
    text-decoration: underline;
  }
  
  div.wrapper > footer > div.footer1 > div.Support > ul {
    padding: 10px 0px;
  }
  div.wrapper > footer > div.footer1 > div.Support > ul > li:nth-of-type(1) {
    font-weight: 600;
    font-size: 17px;
    color: black;
  }
  div.wrapper > footer > div.footer1 > div.Support > ul > li {
    padding: 8px 10px;
    font-size: 13px;
  }
  div.wrapper > footer > div.footer1 > div.Support > ul > li > a {
    color: gray;
  }
  div.wrapper > footer > div.footer1 > div.Support > ul > li > a:hover {
    text-decoration: underline;
  }
  div.wrapper > footer > div.footer1 > div.Offers {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    height: inherit;
    width: 24%;
    border-right: 1px solid rgb(194, 185, 185);
  }
  div.wrapper > footer > div.footer1 > div.Offers > ul {
    padding: 10px 0px;
  }
  div.wrapper > footer > div.footer1 > div.Offers > ul > li:nth-of-type(1) {
    font-weight: 600;
    font-size: 17px;
    color: black;
  }
  div.wrapper > footer > div.footer1 > div.Offers > ul > li {
    padding: 8px 10px;
    font-size: 13px;
  }
  div.wrapper > footer > div.footer1 > div.Offers > ul > li > a {
    color: gray;
  }
  div.wrapper > footer > div.footer1 > div.Offers > ul > li > a:hover {
    text-decoration: underline;
  }
  div.wrapper > footer > div.footer1 > div.aboutUs {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    height: inherit;
    width: 21.3%;
  }
  div.wrapper > footer > div.footer1 > div.aboutUs > ul {
    padding: 10px 0px;
  }
  div.wrapper > footer > div.footer1 > div.aboutUs > ul:nth-of-type(2) {
    padding: 20px 0px;
  }
  div.wrapper > footer > div.footer1 > div.aboutUs > ul > li:nth-of-type(1) {
    font-weight: 600;
    font-size: 17px;
    color: black;
  }
  div.wrapper > footer > div.footer1 > div.aboutUs > ul > li {
    padding: 8px 10px;
    font-size: 13px;
  }
  div.wrapper > footer > div.footer1 > div.aboutUs > ul > li > a {
    color: gray;
  }
  div.wrapper > footer > div.footer1 > div.aboutUs > ul > li > a:hover {
    text-decoration: underline;
  }
  div.wrapper > footer > div.footer2 {
    margin-left: 12px;
    width: 98.5%;
    height: 50px;
    border-bottom: 1px solid rgb(194, 185, 185);
  }
  div.wrapper > footer > div.footer2 > p {
    line-height: 5px;
    font-size: 12px;
    color: gray;
    margin-left: 12px;
  }
  
  div.wrapper > footer > div.footer3 {
    height: 60px;
  }
  div.wrapper > footer > div.footer3 > div.lan {
    display: inline-block;
    vertical-align: top;
    width: 8%;
    border-right: 1px solid gray;
    margin: 20px;
  }
  div.wrapper > footer > div.footer3 > div.lan > a {
    font-size: 12px;
    font-weight: 600;
  }
  div.wrapper > footer > div.footer3 > div.middleDiv {
    display: inline-block;
    vertical-align: top;
  
    margin: 20px;
  }
  div.wrapper > footer > div.footer3 > div.middleDiv > a {
    margin: 8px;
    font-size: 13px;
    color: gray;
  }
  div.wrapper > footer > div.footer3 > div.icon {
    display: inline-block;
    vertical-align: top;
    margin-top: 11px;
  }
  div.wrapper > footer > div.footer3 > div.icon > p {
    display: inline-block;
    vertical-align: top;
    margin-left: 390px;
    font-size: 12px;
    color: gray;
  }
  div.wrapper > footer > div.footer3 > div.icon > p > i {
    margin: 5px 5px;
    font-size: 24px;
    cursor: pointer;
  }
  